.App-Block {
    display: flex;
    align-items: center;
    position: relative;
}

.App-Block__item {
    margin: 6px;
    box-sizing: border-box;
}

.App-Block__remove {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 5px;
    width: 45px;
    height: 45px;
}

.App-Block__remove:hover {
    transform: scale(1.1);
}

.App-EmptyImage__dark {
    background: gainsboro;
}
