.App-Block {
    display: flex;
    align-items: center;
    position: relative;
}

.App-Block__item {
    margin: 6px;
}

.App-Block__remove {
    position: absolute;
    top: 30px;
    right: 30px;
    /*margin: auto;*/
    width: 30px;
    height: 30px;
}

.App-EmptyImage__dark {
    background: gainsboro;
}
