.App-ActionPanel__container {
    background: #FFFFFF;
    box-shadow: 0 10px 20px rgba(183, 183, 183, 0.25);
    border-radius: 30px;
    margin-left: 81px;
    width: 382px;
    height: 500px;
    position: fixed;
}

.App-ActionPanel__upLine {
    height: 52px;
    width: 100%;
    position: relative;
}
.App-ActionPanel__separator {
    border: 1px solid rgba(0, 0, 0, 0.24);
}

.App-ActionPanel__blocks__variants {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    margin-left: 23px;
    margin-right: 23px;
}

.App-ActionPanel__blocks__variant {
    display: flex;
    margin-top: 17px;
}

.App-ActionPanel__blocks__variant__block {
    margin-left: 3px;
    margin-right: 3px;
}

.App-ActionPanel__blocks__variant__block1 {
    margin-left: 3px;
    margin-right: 3px;
    width: 330px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.7);;
}

.App-ActionPanel__blocks__variant__block2 {
    margin-left: 3px;
    margin-right: 3px;
    width: 163px;
    height: 90px;
    border: 1px solid rgba(0, 0, 0, 0.7);;
}

.App-ActionPanel__blocks__variant__block3 {
    margin-left: 3px;
    margin-right: 3px;
    width: 108px;
    height: 70px;
    border: 1px solid rgba(0, 0, 0, 0.7);;
}

#App-ActionPanel__blocks {
    position: absolute;
    top: 12px;
    left: 55px;
}

#App-ActionPanel__widgets {
    position: absolute;
    top: 12px;
    right: 53px;
}

.App-ActionPanel__widgets__variants {
    width: 100%;
    margin-left: 28px;
    margin-right: 30px;
    margin-top: 21px;
    display: flex;
}

.App-ActionPanel__widgets__variant {
    display: flex;
    width: 154px;
    height: 123px;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-right: 15px;
}


