.Common-header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 14px;
    margin-top: 33px;
}

.Common-item {
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 151px;
    height: 41px;
}

.Common-item-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.Common-buttons-container {
    display: flex;
    column-gap: 18px;
}

.Common-container {
    margin-left: 197px;
    margin-top: 42px;
}

.Common-input {
    width: 479px;
    padding-left: 17px;
    border: none;
}
